.loginForm {
	display: flex;
	justify-content: center;
}

.loginBox {
	border: 3px solid black;
	padding: 1rem 1rem 0 1rem;
	margin-bottom: 1rem;
}

.loginInput {
	display: flex;
	justify-content: flex-start;
}

.loginInput > div{
	margin-right: 5px;
}

.loginText {
	width: 60%;
	text-align: right;
	line-height: 2.2;
}

.loginBtn {
	display: flex;
	justify-content: center;
}

.loginBtn > button, a {
	margin: 5px;
}